.inspector {
	margin: 20px auto;
	width: 98vw;
}

.inspector-main {
	display: flex;
}

.inspector-stack {
	flex-grow: 2;
	margin-right: 10px;
	max-width: 65vw;
}

.inspector-detail {
	flex-shrink: 0;
	width: 35vw;
}
