; Created by @mail-core/platform

registry=http://dragonballs.dev.mail.ru:6666
@qa:registry=http://dragonballs.dev.mail.ru:6666
@auth:registry=http://dragonballs.dev.mail.ru:6666
@types:registry=http://dragonballs.dev.mail.ru:6666
@account:registry=http://dragonballs.dev.mail.ru:6666
@paradigm:registry=http://dragonballs.dev.mail.ru:6666
@mail-core:registry=http://dragonballs.dev.mail.ru:6666
