body {
	color: #f5f5f5;
	margin: 20px;
	padding: 0;
	font-size: 14px;
	font-family: "Arial", Helvetica;
	background-color: #383e4b;
}

pre {
	margin: 20px;
}

.well, .btn {
	padding: 10px;
	background-color: rgba(255,255,255,.1);
	background-color: #505261;
}

.btn { cursor: pointer; }
	.btn:hover { background-color: rgba(255,255,255,.2); }


#inputEl {
	width: 60%;
	height: 60px;
	margin: 30px auto;
	display: block;
	border: 0;
	resize: none;
	color: #fff;
	font-size: 13px;
}

#proxyEl {
	width: 40%;
	position: fixed;
	left: 10px;
	bottom: 10px;
	color: #fff;
	border: 0;
	font-size: 14px;
}

#inputEl::-webkit-input-placeholder {
	font-size: 26px;
}

#inputEl::-moz-placeholder {
	font-size: 26px;
}


#titleEl {
	left: 50%;
	font-size: 20px;
	position: fixed;
	display: none;
	background-color: rgba(255,100,100,.5);
}


#navEl {
	top: 20px;
	right: 20px;
	padding: 0;
	overflow: auto;
	position: fixed;
	display: none;
	max-width: 30%;
}
	#navEl .fn { font-weight: bold; }
	#navEl div { cursor: pointer; padding: 5px 10px; }

	#navEl div:hover { background-color: rgba(255,255,255,.1); }
	#navEl div.active { background-color: rgba(255,255,255,.2); }


#codeEl {
	display: none;
	padding-top: 60px;
}



#bug {
	z-index: -1;
	background-color: rgba(255,100,100,.1);
}
	.bug-fn-in {
		background-color: rgba(255,100,100,.15);
	}
	.bug-fn {
		background-color: rgba(255,100,100,.3);
	}

	.bug {
		font-weight: bold;
		background-color: rgba(255,100,100,.5);
	}


#backEl {
	top: 10px;
	left: 10px;
	display: none;
	position: fixed;
}


#demoEl {
	width: 200px;
	margin: auto;
	text-align: center;
	font-size: 30px;
}


#beautifyEl {
	right: 10px;
	bottom: 10px;
	position: fixed;
	cursor: pointer;
}


.active #titleEl,
.active #navEl,
.active #codeEl,
.active #beautifyEl,
.active #backEl { display: block; }

.active #demoEl,
.active #proxyEl,
.active #inputEl { display: none; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END */



/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #969896;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #cc6666;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #de935f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #f0c674;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #b5bd68;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #8abeb7;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #81a2be;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #b294bb;
}

pre code {
  display: block;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
}



#dndOverlay {
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 10000;
	position: fixed;
	font-size: 100px;
	text-align: center;
	background-color: rgba(255,255,255,.4);
}
	#dndOverlay::before {
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	#dndOverlay div {
		display: inline-block;
		vertical-align: middle;
		text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
	}



#errLogEl {
	left: 10px;
	bottom: 10px;
	position: fixed;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
	max-width: 400px;
	max-height: 500px;
}
	#errLogEl li {
		cursor: pointer;
		padding: 10px 15px;
		border-bottom: 1px solid #000;
	}

	#errLogEl li:hover {
		background-color: rgba(255,255,255,0.15);
	}

	#errLogEl :not(.selected){
		display: none;
	}

	#errLogEl:hover {
		overflow: auto;
	}
		#errLogEl:hover li {
			display: list-item;
		}

	#errLogEl .selected {
		background-color: rgba(255,255,255,0.3);
	}

	#errLogEl .disabled {
		opacity: .4;
	}





.loading {
	top: 50%;
	left: 50%;
	margin: -80px 0 0 -50px;
	padding: 30px;
	position: fixed;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: rgba(255,255,255,.1);
}
	.loading:after {
		border-width: 0 4px 0 0;
		border-style: solid;
		border-color: rgba(255,255,255,.8);
		border-radius: 50%;
		display: block;
		height: 50px;
		width: 50px;
		content: "";
		animation: spin 1s infinite linear;
		-webkit-animation: spin 1s infinite linear;
	}
	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
	}
